node_modules
dist
*.secret.*
.env
*.pem
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json