# Ignore node_modules (you should install dependencies in the Dockerfile)
node_modules

# Ignore test files
*.test.tsx

# Ignore other files and directories you don't want to include in the image
dist
*.log
.git
.gitignore
Dockerfile
.dockerignore
README.md
